<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-4">
            <img [src]="product.image" alt="Imagen del producto" class="img-fluid">
        </div>
        <div class="col-8">
            <div>
                <h3>{{product.title}}</h3>
                <p>
                    {{product.description}}
                </p>
                <span class="h4 pb-4">S/ {{product.price}}</span>
                <br>
                <button class="btn btn-primary" type="button">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>